/* responsive.css style sheet */


@media screen and (min-width:1201px) { 
	div {
		left:0px;
		width: 400px; 
		height: 133px;
		background:url('garfield.gif') 0px 0px; 
		background-repeat: no-repeat;
	}
}

@media screen and (min-width:1101px) and (max-width:1200px){
	div {
		left:0px;
		width: 200px; 
		height: 133px;
		background:url('garfield.gif') -400px 0px;
		background-repeat: no-repeat;
	}
}

@media screen and (min-width:1001px) and (max-width:1100px){
	div {
		width: 200px; 
		height: 132.66px;
		background:url('garfield.gif') 0px -132.66px;
		left:0px;
		background-repeat: no-repeat;
	}
}

@media screen and (min-width:901px) and (max-width:1000px){
	div {
		width:200px; 
		height:132.66px;
		background:url('garfield.gif') -200px -132.66px;
		left:0px;
		background-repeat: no-repeat;
	}
}

@media screen and (min-width:801px) and (max-width:900px){
	div {
		width:200px; height:132.66px;
		background:url('garfield.gif') -400px -132.66px;
		left:0px;
		background-repeat: no-repeat;
	}
}

@media screen and (min-width:701px) and (max-width:800px){
	div {
		width:200px; height:133px;
		background:url('garfield.gif') 0px -266px;
		left:0px;
		background-repeat: no-repeat;
	}
}

@media screen and (min-width:601px) and (max-width:700px){
	div {
		width:200px; height:133px;
		background:url('garfield.gif') -200px -266px;
		left:0px;
		background-repeat: no-repeat;
	}
}


@media screen and (max-width:600px) {
	div {
		width:200px; height:133px;
		background:url('garfield.gif') -400px -266px;
		left:0px;
		background-repeat: no-repeat;
	}
}




